.characterDetails {
  width: var(--w-full);
  background: var(--black-main);
  display: flex;
  justify-content: center;
}

.characterDetails__cont {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--gap-12);
  width: 65%;
}

.characterDetails__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: var(--m-10);
  text-transform: uppercase;
}

.characterDetails__icon {
  width: var(--w-7);
  height: var(--h-7);
}

.characterDetails__desc {
  max-width: 100%;
}
