.alert {
  border-radius: 20px;
  padding: var(--p-4) var(--p-6);
  color: var(--white-main);
  display: flex;
  align-items: center;
  gap: var(--gap-3);
}

.alert-info {
  background: var(--red-50);
  border: 1px solid var(--red-100);
}
.alert__text-info {
  color: var(--red-900);
}
.alert-error {
  background: var(--red-50);
  border: 1px solid var(--red-100);
}
.alert__text-error {
  color: var(--red-900);
}
.alert-success {
  background: var(--red-50);
  border: 1px solid var(--red-100);
}
.alert__text-success {
  color: var(--red-900);
}
.alert-warning {
  background: var(--red-50);
  border: 1px solid var(--red-100);
}
.alert__text-warning {
  color: var(--red-900);
}
