.characterCard {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 290px;
  width: 100%;
}

.characterCard__img {
  height: 75%;
}

.characterCard__separator {
  padding: var(--p-1);
  width: var(--w-full);
  background-color: var(--red-main);
  height: 5%;
}

.characterCard__info {
  background-color: var(--black-main);
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--p-4);
  position: relative;
  height: 20%;
}

.characterCard__triangle {
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 18px solid transparent;
  border-bottom: 35px solid var(--white-main);
  transform: rotate(15deg);
  right: -15px;
  bottom: -20px;
  position: absolute;
}
